venv
.idea
*.yaml
OpenFace
.DS_Store
__pycache__
static/Device_Data
static/Face_Input_Videos
static/Pupil_Input_Videos
static/Face_Output_Images
static/Pupil_Output_Images
static/Pupil_Output_Videos
static/clinical_pupil_videos
